@font-face {
	font-family: "CenturyGothicBold";
	src: url('../fonts/CenturyGothicBold.ttf');
}
@font-face {
	font-family: "ABCArizonaMix";
	src: url('../fonts/ABCArizonaMix-Light.otf');
}
@font-face {
	font-family: "GraphikRegular";
	src: url('../fonts/Graphik-Regular.otf');
}
body{
	font-size: 14px;
	font-family: 'ABCArizonaMix', sans-serif;
}
section{
	position: relative;
}

.panel-heading span {
    float: right;
}

.modal-header {
    background-color: #662d91;
    color: #fff;
    border-color: #662d91;
}

#accordion .panel-title a span:before {
    top: -1px;
}

#accordion .panel-title a span:after {
    border-top-color: #A08454;
    bottom: -20px;
    z-index: 1;
}

#accordion .panel-body {
    font-size: 14px;
    color: #808080;
    line-height: 23px;
    border-top: none;
}

#accordion .panel-body p {
    margin-bottom: 0;
}

.heading-02 {
    /* font-family: 'Intro'; */
    font-weight: 300;
    font-size: 14px;
    color: #000;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

.panel-group {
    /*margin-top: 55px;*/
}

#accordion .panel {
    /* border-radius: 0; */
    /* border: 0; */
    /* margin-top: 0px; */
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

#accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #A08454;
    text-decoration: none;
    color: #A08454;
    background-color: #ffc10e;
}

#accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #A08454;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
}

#accordion .panel-heading .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: '\f00d';
    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

#location p {
    color: #000;
    background: #A0845438;
    padding: 5px 10px;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
    /*background-color: #A08454;*/
    background-image: url(../images/Background.png);
    color: white;
    transition: all 0.2s ease-in;
}

#accordion .panel-heading a:not(.collapsed) {
    color: #000;
    /*background-color: #A08454;*/
    transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
    color: white;
}

ul.specification {
    background-color: #061d37;
    color: #fff;
}
#location-connectivity{
	padding-top: 40px;
}

.table tr {
    background-color: #fff;
}

a.collapsed {
    color: #000 !important;
    text-align: justify;
}
.section-head {
	font-family: 'ABCArizonaMix', sans-serif;
	text-transform: uppercase;
	color: #652d91;
	padding: 10px 0px;
	font-weight: bold;
	font-size: 30px;
	margin: 0px;
}
.section-head span {
	color: #813292 !important;
}
.section-subhead {
	font-family: 'ABCArizonaMix', sans-serif;
	text-transform: uppercase;
	color: #813292;
	padding: 10px 0px;
	font-weight: bold;
	font-size: 17px;
	margin: 0px;
}
.nopadding {
	padding: 0;
}
.nomargin {
	margin: 0;
}
.heading-hr {
	margin-top: 0px;
	margin-bottom: 20px;
	border: 0;
	width: 8%;
	border: 1px solid #813292;
}
.heading-hr1 {
	margin-top: 0px;
	margin-bottom: 20px;
	border: 0;
	width: 12%;
	border: 1px solid #652d91;
}
#lock{ display:none; }
.bg-hover {
    position: relative;
}
.bg-hover:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    background: #f8bc0e;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.bg-hover:hover:after {
    width: 100%;
    left: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    z-index: -1;
}
/* ======================= Navbar start ======================= */
.navbar-default {
	background: #fff;
	position: fixed;
	margin-bottom: 0;
	height: 70px !important;
}
.nav>li>a {
	color: #000 !important;
	padding: 20px 15px;
	text-transform: uppercase;
	line-height: 30px;
}
.navbar-nav>li { padding: 0px;}
.navbar-brand { height: auto; padding: 10px 15px; width: 100%;}
.navbar-brand>img { margin: 0 auto;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	/*background-color: #008fd4;*/
	color: #000 !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{ margin-left: inherit; text-align: center;}
#dropdownMenuButton{
	background: inherit;
	color: #424242;
	font-weight: bold;
	padding: 6px 12px;
	border-bottom: 1px solid #424242;
	border-radius: inherit;
}
.dropdown-menu{ background-color: #424242; min-height: 100px; border-radius: inherit;}
.dropdown-item{ width: 100%; display: block; text-align: center; text-transform: uppercase; padding: 4px 0; color: #fff;}
.dropdown-menu{ min-width: 120px;}
.dropbtn {
	background-color: inherit;
	text-transform: uppercase;
	color: #424242;
	padding: 4px 0;
	border-bottom: 1px solid #424242;
	border: none;
	cursor: pointer;
}
section#slider {
    margin-top: 70px;
}
.dropdown {position: relative; display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #424242;}
.dropdown-content { display: none; position: absolute; background-color: #424242; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; top: 30px;}
.dropdown-content a { color: #fff; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: #424242;color: #A68749;}
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color:inherit; }
.imagelogo { width: 100px;  margin: 5px 0px;}
.imagelogo1 { width: 110px; margin: 7px 0px;}
.current a.smoothScroll {
	color: #000 !important;
	/*background: #008fd4;*/
}
.current a.smoothScroll {
	color: #000;
	font-weight: bold;
}
.circle1 {
	text-align: right;
}
/* ======================= Navbar End ======================= */
/* ======================= Slider Start ======================= */
#slider img {
	width: 100%;
}
/* ======================= Slider End ======================= */
/* ======================= Overview Start ======================= */
.innerOverview {
	padding: 40px 0px 240px;
	background: url('../img/bg01.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.overviewtext {
    margin-top: 3%;
    font-family: "GraphikRegular";
    text-align: justify;
    padding: 0px 27px;
    width: 80%;
    margin: 0 auto;
}
.overviewtext li {
    padding: 3px 0px;
}
#ContactForm .input-group {
	width: 100%;
	margin: 10px 0px;
	padding: 10px;
}
.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
}
form#ContactForm {
	border: linear-gradient(to right, #7FA954 , #0871AD);
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
button#submitf{
	border: 1px solid #ccc;
	color: #fff;
}
.form-buttons {
    padding-bottom: 30px !important;
}
#message_post h3 {
	margin: 0px;
	padding: 15px;
	background: linear-gradient(114deg, rgba(2,105,167,1) 0%, rgba(242,246,227,1) 50%, rgba(150,186,108,1) 100%);
	color: #000 !important;
	font-size: 20px;
}
.innerOverview span{
	color: #000;
}
/* ======================= Overview End ======================= */
/* ======================= Project Highlight Start ======================= */
.projecthighlight-inner{
padding: 40px 0px 240px;
    background: url(../img/bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.additional-amenities {
	margin-top: 3%;
}
.project-text {
	border: 2px solid #f8bc0e;
	padding: 12px;
	text-align: center;
	height: 100px;
	width: 100px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.project-box p {
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-weight: 900;
}
.project-box {
	margin-bottom: 20px;
	overflow: hidden;
}
.project-text img{
	width: 75% !important;
}
.projecthighlight-inner .owl-nav .owl-prev {
	left: -50px;
	position: absolute;
}
.projecthighlight-inner .owl-nav .owl-next {
	right: -50px;
	position: absolute;
}
.projecthighlight-inner .owl-nav i {
	font-size: 40px;
	color: #813292;
}
.projecthighlight-inner .owl-carousel .owl-nav button.owl-next, .projecthighlight-inner .owl-carousel .owl-nav button.owl-prev {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0!important;
	font: inherit;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin: 5px;
	position: absolute;
	top: 30%;
}
.project-text:hover  {
	-webkit-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    transform: translateY(-15px);
    transition: ease all 0.5s;
}
/*.project-text:hover  img {
	filter: invert(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}*/
.project-box:hover .project-text p {
	color: #ffffff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
/* ======================= Project Highlight End ======================= */
/* ======================= Configuration Start ======================= */
.innerConfiguration {
	padding: 50px 0px;
	background: url('../img/bg02.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.innerConfiguration h3 {
	color: #fff;
}
.innerConfiguration .heading-hr{
	border: 1px solid #fff;
}
.heading-hr2 {
	margin-top: 0px;
	margin-bottom: 10px;
	border: 0;
	width: 15%;
	border: 1px solid #fff;
}
.configareasection{
	margin-top: 3%;
}
.Configurationbox {
	border: 5px solid #fff;
}
.Configurationbox:hover {
    -webkit-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    transform: translateY(-15px);
    transition: ease all 0.5s;
}
.Configurationbox:hover .heading-hr2{
	border: 1px solid #000;
}
.Configurationbox:hover .innerConfigurationbox h4{
	color: #000 !important;
}
.eqClick {
	padding: 5px 20px;
	border-radius: 50px;
	margin-bottom: 20px;
	border: unset;
}
.eqClick a{
	color: #000;
	font-family: "GraphikRegular";
	font-weight: 600;
}
.Configurationbox:hover .eqClick a {
    color: #fff;
}
.Configurationbox:hover .eqClick{
	background-image: linear-gradient(to right, #000, #000);
}
.Configurationbox:hover .heading-hr1{
	border: 1px solid #000;
}
.innerConfigurationbox {
	text-align: center;
}
.innerConfigurationbox h4{
	color: #fff;
}
.configarea{
	margin: 25px;
}
.Configurationbox:hover .bg-hover {
    position: relative;
}
.Configurationbox:hover .bg-hover:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    background: linear-gradient(114deg, rgba(2,105,167,1) 0%, rgba(242,246,227,1) 50%, rgba(150,186,108,1) 100%);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.Configurationbox:hover .bg-hover:hover:after {
    width: 100%;
    left: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    z-index: -1;
}
/* ======================= Configuration End ======================= */
/* ======================= Amenities Start ======================= */
.inneramenities{
	padding: 50px 0px;
	background: url('../img/amenitiesbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.inneramenities h3{
	color: #000;
}
.inneramenities .heading-hr{
	border: 1px solid #000 !important;
}
.ame-border{
	width: 100%;
	position: absolute;
	top: 28px;
	right: -15px;
}
.amenities-circle{
	border-radius: 50%;
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	background-color: #fff0;
	text-align: center;
	margin: 0 auto;
}
.white{
	display: block;
}
.black{
	display: none;
}
.amenities-circle:hover .black{
	display: block;
	position: absolute;
	top: 0;
}
.amenities-circle:hover .white{
	display: none;
}
.amenities-circle:hover{
	background-color: #9c8253;
    border: unset;
}
.amenities-circle img {
	margin: 27px;
	position: absolute;
}
.circle-block{
	height: 185px;
	position: relative;
	top: 42px;
}
.circle-block h4{
	font-size: 14px;
	text-transform: uppercase;
	color:#000;
	text-align: center;
	font-family: "GraphikRegular";
	margin-top: 20px;
}
/* ======================= Amenities End ======================= */
#location .section-head {
    padding: 0 0;
}

.location-amenities{
    padding: 0;
    margin: 0px auto;
    margin-top: 0px;
    background-color: #652d91;
    padding-bottom: 18px;
}
.location-amenities li {
    padding: 0px;
    font-size: 16px;
    color: #ffc10e;
    font-weight: 400;
}

.locationmap-rightblock {
    margin: 0px 0;
    padding: 0px
}
.locationmap-block {
    margin: 10px 0;
    height: auto;
    color: #fff;
    background-color: #823293 ;
 
}
ul.location-list {
    color: #a9cf46;
}
h4.location-connectivity.text-center {
    padding-top: -20px;
    width: 45%;
    margin: 0 auto;
    margin-top: -14px;
    background-color: #102033;
    /* padding: 0px 46px; */
    text-align: center;
}
.locationmap-img {
    width: 50px;
    /* padding: 18px 0; */
    margin: 0px;
}
.location-txt {
    font-size: 13px;
   color: #000;
    font-weight: 500;
    padding: 0;
    width: 100%;
    margin: 10px 0;
    /* text-align: justify; */
}
/* ======================= Location Advantages Start ======================= */
.innerLocationAdvantages {
	padding: 30px;
}
.LocationAdvantagessection{
	margin-top: 3%;
}
.accordion {
	position: relative;
	width: 100%;
}
.LocationAdvantageimg {
	border-image: linear-gradient(to right, #7FA954 , #0871AD) 30;
	border-width: 1px;
	border-style: solid;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.accordiontab {
	margin-bottom: 5px;
}
[id*="open-accordion"], [id*="close-accordion"] {
	border: 1px solid #000;
	line-height: 40px;
	height: 44px;
	display: block;
	margin: 0 auto;
	position: relative;
	width: 90%;
	margin-left: 10%;
}
[id*="open-accordion"]:hover {
	background: linear-gradient(114deg, rgba(2,105,167,1) 0%, rgba(242,246,227,1) 50%, rgba(150,186,108,1) 100%);
	border: unset;
}
[id*="open-accordion"]:focus {
	background: linear-gradient(114deg, rgba(2,105,167,1) 0%, rgba(242,246,227,1) 50%, rgba(150,186,108,1) 100%);
}
.accordiontab img {
	background-color: #9c8253;
    float: left;
    width: 44px;
    padding: 5px;
}
[id*="close-accordion"] {
	display: none;
}
.accordion a {
	color: #000;
	font-size: 1.25em;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
}
[id*="open-accordion"]:after, [id*="close-accordion"]:after {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.6);
	position: absolute;
	right: 5px;
	top: 15px;
	z-index: 999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.target-fix {
	display: block;
	top: 0;
	left: 0;
	position: fixed;
}
.accordion-content {
	background: #fff;
	height: 0;
	margin: 5px auto 0;
	padding: 0 2.5%;
	position: relative;
	overflow: hidden;
	width: 90%;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	text-align: center;
}
.accordion span:target ~ .accordion-content {
	display: block;
	height: auto;
	padding: 5px;
}
.accordion span:target ~ [id*="close-accordion"] {
	display: block;
}
.accordion span:target ~ [id*="open-accordion"] {
	display: none;
}
.accordion span:target ~ [id*="close-accordion"]:after {
	border-top: 10px solid #333;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
/* ======================= Location Advantages End ======================= */
/* ======================= Gallery Start ======================= */
.innergallery {
	padding: 40px 0px;
	/*background: url('../img/gallerybg.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}
.innergallery .nav>li>a {
	color: #813292 !important;
	background-color: #fff0;
	border: 1px solid #813292;
	padding: 5px;
}
.innergallery .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #fff !important;
	background: #813292;
}
.nav-pills>li {
	width: 19%;
	text-align: center;
	color: #04567c !important;
	border-radius: 4px;
	padding: 5px;
}
.innergallery .nav.nav-pills {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 3%;
}

.innergallery .carousel-wrap {
	margin: 35px auto;
	padding: 0 5%;
	width: 100%;
	position: relative;
}
.innergallery .owl-carousel .item {
	position: relative;
	z-index: 100; 
	-webkit-backface-visibility: hidden; 
}
.innergallery .owl-nav .owl-prev {
	left: -50px;
	position: absolute;
}
.innergallery .owl-nav .owl-next {
	right: -50px;
	position: absolute;
}
.innergallery .owl-nav i {
	font-size: 40px;
	color: #813292;
	background: #fff;
    	padding: 0px 10px;
}
.innergallery .owl-carousel .owl-nav button.owl-next, .innergallery .owl-carousel .owl-nav button.owl-prev {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0!important;
	font: inherit;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin: 5px;
	position: absolute;
	top: 40%;
}
.item button.info {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.item button.info {
	margin: 10px;
	font-weight: 400;
	border: 1px solid #fff;
	background: #0000008a;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	width: 95%;
	height: 92%;
}
.item:hover button.info {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.item button.info:hover {
	box-shadow: 0 0 5px #fff;
}
.item:hover .overlay {
	background-color: #000000ab;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
}
.overlay {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.overlay > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
	border: none !important;
	width: 25px !important;
}
.item a:hover > .overlay > img {
	opacity: 1;
}
/*Gallery Plugin*/
.demo-gallery > ul {
	margin-bottom: 0;
}
         /*   .demo-gallery > ul > li {
                float: left;
                margin-bottom: 15px;
                margin-right: 20px;
                width: 200px;
                }*/
                .demo-gallery > ul > li a {
                	border: 1px solid #FFF;
                	border-radius: inherit;
                	display: block;
                	overflow: hidden;
                	position: relative;
                	    height: 442px;
                	/*float: left;*/
                }
                .demo-gallery > ul > li a > img {
                	-webkit-transition: -webkit-transform 0.15s ease 0s;
                	-moz-transition: -moz-transform 0.15s ease 0s;
                	-o-transition: -o-transform 0.15s ease 0s;
                	transition: transform 0.15s ease 0s;
                	-webkit-transform: scale3d(1, 1, 1);
                	transform: scale3d(1, 1, 1);
                	    height: 442px;
             /* height: 100%;
             width: 100%;*/
         }
         .demo-gallery > ul > li a:hover > img {
         	-webkit-transform: scale3d(1.1, 1.1, 1.1);
         	transform: scale3d(1.1, 1.1, 1.1);
         }
         .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
         	opacity: 1;
         }
         .demo-gallery > ul > li a .demo-gallery-poster {
         	/*background-color: rgba(0, 0, 0, 0.1);*/
         	bottom: 0;
         	left: 0;
         	position: absolute;
         	right: 0;
         	top: 0;
         	-webkit-transition: background-color 0.15s ease 0s;
         	-o-transition: background-color 0.15s ease 0s;
         	transition: background-color 0.15s ease 0s;
         }
         .demo-gallery > ul > li a .demo-gallery-poster > img {
         	left: 50%;
         	margin-left: -10px;
         	margin-top: -10px;
         	opacity: 0;
         	position: absolute;
         	top: 50%;
         	-webkit-transition: opacity 0.3s ease 0s;
         	-o-transition: opacity 0.3s ease 0s;
         	transition: opacity 0.3s ease 0s;
         	border: none !important;
         }
         .demo-gallery > ul > li a:hover .demo-gallery-poster {
         	background-color: rgba(0, 0, 0, 0.7);
         }
         .demo-gallery .justified-gallery > a > img {
         	-webkit-transition: -webkit-transform 0.15s ease 0s;
         	-moz-transition: -moz-transform 0.15s ease 0s;
         	-o-transition: -o-transform 0.15s ease 0s;
         	transition: transform 0.15s ease 0s;
         	-webkit-transform: scale3d(1, 1, 1);
         	transform: scale3d(1, 1, 1);
         	height: 100%;
         	width: 100%;
         }
         .demo-gallery .justified-gallery > a:hover > img {
         	-webkit-transform: scale3d(1.1, 1.1, 1.1);
         	transform: scale3d(1.1, 1.1, 1.1);
         }
         .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
         	opacity: 1;
         }
         .demo-gallery .justified-gallery > a .demo-gallery-poster {
         	background-color: rgba(0, 0, 0, 0.1);
         	bottom: 0;
         	left: 0;
         	position: absolute;
         	right: 0;
         	top: 0;
         	-webkit-transition: background-color 0.15s ease 0s;
         	-o-transition: background-color 0.15s ease 0s;
         	transition: background-color 0.15s ease 0s;
         }
         .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
         	left: 50%;
         	margin-left: -10px;
         	margin-top: -10px;
         	opacity: 0;
         	position: absolute;
         	top: 50%;
         	-webkit-transition: opacity 0.3s ease 0s;
         	-o-transition: opacity 0.3s ease 0s;
         	transition: opacity 0.3s ease 0s;
         }
         .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
         	background-color: rgba(0, 0, 0, 0.5);
         }
         .demo-gallery .video .demo-gallery-poster img {
         	height: 48px;
         	margin-left: -24px;
         	margin-top: -24px;
         	opacity: 0.8;
         	width: 48px;
         }
         .demo-gallery.dark > ul > li a {
         	border: 3px solid #04070a;
         }
         .home .demo-gallery {
         	padding-bottom: 80px;
         }
/* ======================= Gallery End ======================= */
/* ======================= AboutProject Start ======================= */
.innerAboutProject{
	padding: 30px 0px;
	/*background: url('../img/aboutbg.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}
.AboutProjectboxnew{
	margin-top: 2%;
}
.AboutProject_highlight{
	margin-top: 2%;
}
.AboutProjectbox1{
	margin: 0px auto;
	width: 13%;
}
.AboutProjectbox2{
	margin: 0px auto;
	width: 15%;
}
.AboutProjectboxnew p{
	font-family: "GraphikRegular";
	text-align: center;
}
.AboutProjectbox{
	text-align: center;
	border: 1px solid #000;
	padding: 25px 10px;
            text-transform: uppercase;
}
.AboutProjectbox h3{
	margin: 0px;
}
.AboutProjectbox p{
	padding: 5px 0px;
}
.AboutProjectbox img {
    margin: 0px auto;
}
.AboutProjectbox:hover {
	-webkit-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.5);
    transform: translateY(-15px);
    transition: ease all 0.5s;
}
.AboutProjectbox:hover img {
	filter: invert(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
/*.AboutProjectbox:hover h3 {
	color: #000;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}*/
.AboutProjectbox:hover p {
	color: #fff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

/* ======================= AboutProject End ======================= */
/* ======================= ContactUs Start ======================= */
.innercontact{
	padding: 30px 0px;
	background: url('../img/contactbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.innercontact h3{
	color: #fff;
}
.innercontact .heading-hr{
	border: 1px solid #fff !important;
}
.contactbox{
	margin-top: 3%;
}
.formbackground{
	background: url('../img/contactformbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px;
}
#ContactForm1 .input-group {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 10px;
}
form#ContactForm1 {
    border: linear-gradient(to right, #7FA954 , #0871AD);
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.contactcontent {
	text-align: center;
	margin-top: 4%;
	color: #fff;
}
.contactcontent p {
	font-family: "GraphikRegular";
}
.contactcontent h3{
	font-weight: 600;
}
.contactcontent h4{
	font-weight: 600;
}
/* ======================= ContactUs End ======================= */
/* ======================= Disclaimer Start ======================= */
.innerDisclaimer{
	padding: 30px 0px;
	/*background: url('../img/aboutbg.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}
.Disclaimerbox img{
	margin: 0px auto;
	width: 140px;
}
.Disclaimercontent h4{
	text-align: center;
	font-weight: 600;
}
.Disclaimercontent {
    margin-top: 10px;
}
.Disclaimercontent p{
	text-align: center;
	font-size: 11px;
	font-family: "GraphikRegular";
}
/* ======================= Disclaimer End ======================= */
/* =============== Popup Form Start =============== */
.modal-dialog {
  width: 35%;
}
.modal-header {
  /*background: linear-gradient(114deg, rgba(2,105,167,1) 0%, rgba(242,246,227,1) 50%, rgba(150,186,108,1) 100%);*/
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
h3.modal-title {
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.modal-header .close {
    margin-top: -2px;
    color: #fff;
}
button#submitf {
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
.modal-content{
  border-radius: inherit;
  background-color: #fff;
  border: 2px solid #fff;
}
.input-group {
  position: relative;
  display: table;
  text-align: center;
  margin: 4px auto;
  width: 100%;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.formwidth {
  width: 20%;
  float: left;
  padding: 0px 5px;
}
.inputwidth input::placeholder {
  color: #fff;
}

/* =============== Popup Form End =============== */
